#ignore ALL .log giles
*.log

#ignore THREE folder
js/three.js-master/

#ignore libraries in GISTest
Pages/GISTest/
Pages/Asteroids/
Images/
Fonts/
Assets/

#ignore config to hide logins/keys
/pb_keys.json

