/* * { */
  /* box-sizing: border-box; */
/* } */

/* Position the image container (needed to position the left and right arrows) */
.carousel-holder {
  border-radius: 14px 14px 0 0;
	overflow: hidden;
  width: calc(100% + 7vw);
  position: relative;
  left: 50%;
  right: 50%;
  /* margin-left: -56.5%; */
  /* margin-right: -43.5%; */
  margin-left: calc(-50% - 3.5vw);
  margin-right: calc(-50% + 3.5vw);
}

img {
	display: block;
}

/* Hide the images by default */
.carousel-slide {
	display: block;
	height: 100%;
	box-sizing: border-box;
  margin: 0;
	padding-bottom: 0;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ffffff80;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 15px 15px 0;
  user-select: none;
  -webkit-user-select: none;
}

@media screen and (max-width: 480px) {
	.prev, .next {
		font-size: 7vw;
		padding: 2vw;
	}
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 15px 0 0 15px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #ffffffff;
}

/* Labels e.g. Nook, FVC */
.carousel-label {
	position: relative;
  color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	/* right: 12px; */
	margin: auto;
	font-size: 1.8em;
	text-align: center;
	width: 100%;
  top: 8px;
  position: absolute;
	
	text-shadow: 0px 0px 4px #000000;
}

@media screen and (max-width: 480px) {
	.carousel-label {
		font-size: 5vw;
	}
}


/* Number text (1/3 etc) */
.slide-number {
  color: #f2f2f200;
  font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	right: 12px;
  top: 8px;
  position: absolute;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.thumbnail-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.thumbnail {
	box-sizing: border-box;
	display:block;
  margin: 0;
	display: block;
  float: left;
  width: 16.666666%;
	height: 100%;
	min-height:100%;
	/* background-color:#0000ff; */
}

/* Add a transparency effect for thumnbail images */
.demo {
  -webkit-filter: grayscale(100%);
	-moz-filter:    grayscale(100%);
	-ms-filter:     grayscale(100%);
	-o-filter:      grayscale(100%);
}

.active,
.demo:hover {
  -webkit-filter: grayscale(0%);
	-moz-filter:    grayscale(0%);
	-ms-filter:     grayscale(0%);
	-o-filter:      grayscale(0%);
}