body {

  /* background-color: #cc5577; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  padding: 0px;
  margin: 0px;
	
	background-color: #4DA6FF;
	height: 150%;
	
	
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}
	
	100% {
		background-position: 0% 50%;
	}
}

@supports not (-webkit-overflow-scrolling: touch) {	/* iOS lies about supporting background-attachment and I would like to see Apple answer for this sin */
	body {
		background: linear-gradient(45deg, #1262B3, #4DA6FF, #1262B3);
		background-size: 150% 150%;
		background-attachment: fixed;
		/* animation: gradient 15s ease infinite; */
	}
}

#site { overflow: hidden; }

h1 {
  color: white;
  text-align: center;
	margin: auto;
}

h2 {
  color: #194c7f;
  text-align: center;
	margin: auto;
}

a:link {
	text-decoration: none;
	color: white;
	opacity: 0.85;
}

a:hover {
	opacity: 1;
}

a:visited {
  text-decoration: none;
	color: white;
}

.rel-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.rel-header {
  /* height: 5rem; */
  /* justify-content: center; */
  /* display: flex; */
  /* flex-direction: row-reverse; */
  background-color: #3299FF;
  position: relative;
  font-size: 1.5em;
	padding-top: 3pt;
  /* height: 100%; */
  width: 100%;
}

/* Container for the whole page, flexed as a column */
.mega-flex {
  width: 100%;
  padding: 0px;
  min-width: 100%;
  display: flex;
  /*	background-color:#7bbdee;	*/
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* This flexbox is for the body of the page */
.flex-container {
  display: flex;
  /*	background-color:#7bbdee;	*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* This flexbox is in the sticky bar */
.flex-container-2 {
  display: flex;
  /*	background-color:#7bbdee;	*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  position: absolute;
  height: 100%;
  /* width: 100%; */
	padding-left: 20px;
	padding-right: 20px;
}

div.sticky {
 /* align-items: center;*/

	box-shadow: 0 6px 5px #1262B380;
	border-radius: 0px 0px 15px 15px;

  position: -webkit-sticky;
  padding: 0px;
  position: sticky;
  width: 100%;
  height: 3rem;
  top: 0;
  background-color: #3299FF;
	z-index: 9;
}

div.top-bar-category {
  float: right;
  top: 0;
  /* background-color: #cc5577; */
  padding: 10px;
  font-size: 1.3em;
	text-shadow: 0px 0px 1px #FFFFFF, 0px 1px 3px #000000;
	z-index: 10;
}

div.top-bar-category:hover {
	text-shadow: 0px 0px 6px #FFFFFF, 0px 3px 5px #000000;
}

div.art-links {
  min-width: 80px;
  min-height: 80px;
  text-align: center;
  line-height: 80px;
  margin: 100px;
  border-radius: 14px;
  background: #7bbdee;
  box-shadow: 9px 9px 18px #00000020;
}

div.text-body {
	margin: auto;
	margin-top: 1vh;
	width: 90%;
	max-width: 1000px;
	padding-left: 3.5vw;
	padding-right: 3.5vw;
  border-radius: 14px;
	background-color: #0000ff20;
	
	/* outline-style:double; */
	/* outline-color:#ffffff40; */
	/* outline-width:5px; */
}

p {
  font-family: verdana;
	color: white;
  font-size: 1.3em;
	text-align: justify;
	text-justify: auto;
	margin-left: auto;
	margin-right: auto;
	/* width: 70%; */
	line-height: 1.2;
}